.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
}

.overlay{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.0); /* Black background with opacity */
    z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
    transition: background-color .35s ease-in-out;
}

.overlay.active{
    display: block;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.menu-bars{
    font-size: 2rem;
}

.nav-menu{
    background-color: #44475a;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: -100%;
    transition: .5s;
    z-index: 1000;
    visibility: hidden;
}

.nav-menu.active{
    left:0;
    transition: .35s;
    visibility: visible;
}

.nav-toggle{
    margin-top: 1rem;
}

.nav-item, .nav-toggle{
    list-style: none;
    margin-bottom: 20px;
}

.nav-item a{
    text-decoration: none;
    color: #f8f8f2;
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}

.nav-item a:hover{
    color:#8be9fd;
}

.nav-menu-items{
    width: 100%;
    margin: 0;
}

@media all and (max-width:600px){
    .nav-menu{
        width: 100%;
    }
}